{% extends 'base.html'%}
{% block content %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
        {% for image in posts %}
        <img src="{{image.image.url}}" class="mt-4" width="100%" alt="{{image.img_name}}">
        <form action="">
            <input type="text" class="form-control" placeholder="add comment">
        </form>
        <hr>
        <p class="text-muted">{{image.img_caption}}  {{image.img_likes}} likes
        <br>
            ~{{image.img_name}}~
            <br>~Posted {{image.post_date|timesince}} ago~
        </p>
        {% empty %}
        <p>No images have been posted yet</p>
        {% endfor %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 d-inline-block">
            <a href="{% url 'profile'%}">
                <p class="mt-5">@{{user.username}}</p>
                <img  src="{{user.profile.profile_photo.url}}" height="100px" width="100px" class="rounded-circle" alt="profile photo">
            </a>
        </div>
    </div>
</div>
{% endblock %}