{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-">
        {% for image in posts %}
        <img src="{{image.image.url}}" class="mt-4" width="100%" alt="{{image.img_name}}">
        <p class="text-muted">{{image.img_caption}}  {{image.img_likes}} likes
        <br>
            ~{{image.img_name}}~
            <br>~Posted {{image.post_date|timesince}} ago~
        </p>
        {% empty %}
        <p>No images have been posted yet</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}