{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{{ block.super }}
<div class="container">
    <h1></h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-5">
        {% for image in posts %}
                <div class="card-header">
                    <img src="{{ user.profile.prof_image.url}}" height="50px" width="50px" class="rounded-circle" alt="">
                    {{image.author}}
                </div>
                <!-- Image trigger modal -->
                <img src="{{image.image.url}}" class="mt-0" data-toggle="modal" data-target="#im{{image.id}}" id="myImg" class="mt-4" width="100%" alt="{{image.img_name}}">
        <!-- Modal -->
        <div class="modal fade" id="im{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <h5 class="modal-title text-center" id="exampleModal3Label">{{image.image_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <div class="modal-header">
                <img src="{{image.image.url}}" class="mt-0" data-toggle="modal" data-target="#im{{image.id}}" id="myImg" class="mt-4" width="100%" alt="{{image.img_name}}">
                </div>
         <div class="modal-body">
             <h5>Posted {{image.post_date|timesince}} ago</h5>
            <i class="fa fa-heart" style="color:red; font-size:40px;">
                {{image.img_likes}} likes
            </i>
            <p class="text-muted">
              Caption: ~{{image.img_caption}}~
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
                <form action="{%url 'index' %}" class="form-group container" method="post" class="mt-2 ">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="hidden" value="{{image.pk}}" name="image_id">
                    <button class="btn btn-sm btn-info"> post </button>
                </form>
                <hr>
                <strong class="container">Comments:</strong><br>
                {% for comment in comments%}
                {% if image.pk == comment.image.pk %}
                    <p class="container">{{comment.comment}}</p>
                {% endif %}
                {% endfor %}
            {% empty %}
                <p>No images have been posted yet</p>
        {% endfor %}
        </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 d-inline-block">
            <a href="{% url 'profile'%}">
                <p class="mt-5">@{{user.username}}</p>
                <img  src="{{ user.profile.prof_image.url}}" height="100px" width="100px" class="rounded-circle" alt="profile photo">
            </a>
        </div>
    </div>
</div>
{% endblock %}