
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-family: 'Lobster', cursive;">
            Instagram
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href=""></a>
        </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="color: white">

          </li>
      <li class="nav-item">
        <a class="nav-link" href=""></a>
      </li>
    </ul>
  </div>
</nav>