
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-family: 'Lobster', cursive; font-size:40px;">
          &nbsp; &nbsp; &nbsp;&nbsp;
          <i class="fa fa-instagram" style="font-size:48px;"></i>
          Instagram
        </a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <form action="" role="search">
            <input type="text" class="form-control" placeholder="Search" name="">
          </form>
      </li>
    </ul>
  </div>
  {%if user.is_authenticated%}
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <a href="{% url 'post_pic'%}">
        <li class="nav-item mt-2" style="color: grey;">
            <i class="material-icons" style="font-size:40px;">add_a_photo</i>
          </li>
      </a>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>